.content {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Espaciado entre filas */
  }
  
  .form-field {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-field:last-child {
    margin-right: 0; /* El último campo de cada fila no debe tener margen derecho */
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  button {
    min-width: 100px;
  }
  